* {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

body {
    margin: 0;
    height: 100vh;
    font: 10px/10px sans-serif;
    text-align: justify;
    overflow-y: hidden;
    background-color: #262626;

    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    background-image: url('../assets/batman.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
